[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/render_math"]
	path = plugins/render_math
	url = git@github.com:barrysteyn/pelican_plugin-render_math.git
